<!DOCTYPE html>
<html lang="en">
        <meta charset="utf-8">


{{> header}}
 
    <link rel="stylesheet" href="/device.css">
<script  type="text/javascript">
</script> 
<style>
    footer
{
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#FFFFFF;
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 13vh;
    border-top: 1px solid #576485;
 
}
.logo_garage
{
  height: 13vh;
  padding: 10px 30px;
  
}
</style>
<br>
<br>
<br>
 <body>
     <div class="container body1">
         <center>
         <div class="main well">
             <div>
                 <center>
                 <h1>Controller for {{line}} - {{line_no}}</h1>
                 </center> <br><br><br>
             </div>
             <div class="row">
                 <div class="col-md-3 col-xs-3">
                     {{!-- <form method="POST" action="/device/mqtt">  --}}
                        {{!-- <input type="hidden" value="hi" name="a" /> --}}
                  <a id="SD"><button id="primary-button " >.</button></a>      

                     {{!-- </form> --}}
                    <h4 id="SDh1">Screw Driver</h4>
                 </div>
                 <div class="col-md-3 col-xs-3">
                  <a id="JF"><button id="primary-button " >.</button></a>      
                    <h4>Jig And Fixture</h4>

                 </div>
                 <div class="col-md-3 col-xs-3">
                  <a id="machine"><button id="primary-button " >.</button></a>      
                    <h4>Machine</h4>

                 </div>
                 <div class="col-md-3 col-xs-3">
                  <a id="fitting"><button id="primary-button " >.</button></a>      
                    <h4>Fitting</h4>

                 </div>
             </div>

         </div>
         <div class="ack-div">
               <div class="container well">
                   <h3>Acknowledgement Message from Technician</h3>
                   <div class="ack-well">
                       <div id="messages">
                           <p id="msgs" ></p>
                       </div>
                   </div>
               </div> 

         </div>
         
         </center>
 {{line}}
 {{line_no}}

      </div>
 </body>
 {{> footer}}

 <script>
   var line=  "{{line}}";
 var line_no= "{{line_no}}";

      var es = new EventSource("/device/mqtt-ack/"+line+"/"+line_no);
      es.onerror = function(e)  { console.error(e); };
      es.onopen = function(e) { console.log("Open", e);};
      es.onmessage = function(e) {
        console.log("Mesage:", e);
        var target = document.getElementById("msgs");
        target.textContent = e.data;
      };


 // for screwDriver
     $("#SD").on('click', (event) => {
            event.preventDefault();
            // Getting the values
             let data = {
                 topic : line+"/"+line_no+"/Screw Driver" 

             } 
           
            // Sending to our server
            $.ajax({
                url:"/device/mqtt",
                method:"POST",
                data: data
                 
            })
            
        
            .catch((err) => {
                console.log(err);
            });
        });

 // for Jig and fixture

        $("#JF").on('click', (event) => {
            event.preventDefault();
           
            // Getting the values
             let data = {
                 topic : line+"/"+line_no+"/Jig and Fixture" 

             } 
           
            // Sending to our server
            $.ajax({
                url:"/device/mqtt",
                method:"POST",
                data: data
                
            })
             
            .catch((err) => {
                console.log(err);
            });
        });

 // for machine

        $("#machine").on('click', (event) => {
            event.preventDefault();
           
            // Getting the values
             let data = {
                 topic : line+"/"+line_no+"/Machine" 

             } 
           
            // Sending to our server
            $.ajax({
                url:"/device/mqtt",
                method:"POST",
                data: data
                 
            })
             
            .catch((err) => {
                console.log(err);
            });
        });

 // for fitting

        $("#fitting").on('click', (event) => {
            event.preventDefault();
           
            // Getting the values
             let data = {
                 topic : line+"/"+line_no+"/Fitting" 

             } 
           
            // Sending to our server
            $.ajax({
                url:"/device/mqtt",
                method:"POST",
                data: data
                 
            })
             
            .catch((err) => {
                console.log(err);
            });
        });
</script>

<script>
 
</script>

 </html>

{{!-- 
 function loadlink(){
   var  link = "/device/"+line+"/"+line_no+"/mqtt-ack"
    $('#ack').load(link, function () {
   });
}

loadlink(); // This will run on page load
setInterval(function(){
    loadlink() // this will run after every 5 seconds
}, 10000); --}}