<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

  <script>


</script>
  <!--  <script type="application/javascript">
      setInterval('$("#demo").load(location.href + " #demo")', 5000);//sends a get request again
    </script> -->
    
    
    <div class="page-top row">
      <div class=" col-md-1 ">
          {{!-- <button href="/" class="btn btn-default">Home</button> --}}
      </div>
      <div class="page-top-form col-md-3 c  ">
        <form method="post" action="/date">
          <p1>Enter Fault Date</p1>

          <input type="date" class="page-top-input"   placeholder="Enter Date" name="date" />
          <input type="submit" class="date-submit btn btn-default" value="Submit">
        </form>
      </div>
      <div class="page-top-form col-md-3">
        <form method="post" action="/tech">
          <p1>Enter Technician Name</p1>

          <input type="text" class="page-top-input"   placeholder="Ex John" name="technician" />
          <input type="submit" class="date-submit btn btn-default" value="Submit">
        </form>
      </div>
      <div class="page-top-form col-md-3">
        <form method="post" action="/line">
          <p1>Enter Line</p1>

          <input type="text" class="page-top-input"   placeholder="Ex Filter1" name="line" />
          <input type="submit" class="date-submit btn btn-default" value="Submit">
        </form>
      </div>
    </div>

    <div class="body1 container">
      <div class="limiter">


        <br />
        <br />
        <br />

        <div class="container-table100">
          <div class="wrap-table100">

            <div class="table100 col-md-12 col-sm-12">
              <table id="mytable" class="">
                <thead>
                  <tr class="table100-head">
                    <th class="column1">Time of Registration</th>
                    <th class="column2">Category</th>
                    <th class="column3">Line</th>
                    <th class="column3">Line Number</th>

                     
                      <th class="column5">Status</th>
                      <th class="column6">Time of Ack</th>
                      <th class="column6">Time of Completion</th>
                      <th class="column6" style="  text-align: center;">Technician</th>


                  </tr>
                </thead>
                {{#each dataList}}
                <tbody >


                    <tr onclick="clickrow()" id="row-data">
                      <td class="column1">{{tor}}</td>
                      <td class="column2">  {{category}}</td>
                      <td class="column3">{{Line}}</td>
                      <td class="column3">{{LineNo}}</td>

                     
                      <td class="column5" style="color:{{color}};">{{status}}</td>
                      <td class="column6">{{toa}}</td>
                      <td class="column6">{{toc}}</td>
                      <td class="column6">{{tech}}</td>




                    </tr>

                </tbody>  {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>
    <script type="text/javascript">


    </script>
<script  >

 
    </script>


</body>

</html>
