<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="main.css">
    <script type="application/javascript">

    </script>

</head>

<body>
    <nav class="navbar navbar-default container-fluid" style="width: 100%;">
        <div class="container-fluid" style="width: 100%;">
            <div class="navbar-header">
              <img src="logo.png" class="navbar-brand logo">
                <p class="navbar-brand title " style="color: #whitesmoke;">{{pageTitle}}</p>
            </div>
        </div>
    </nav>
    <div class="body1 container">

        {{#each dataList}}
        <div class="well">
        <p>
           {{Section}}
        </p>
        <p>
          {{category}}
        </p>
        <p>
          {{Line}}
        </p>
       </div>
        {{/each}}


    </div>




</body>

</html>
