<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="css/util.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="icon" type="image/png" href="/logo.png" />
   
    <link rel="stylesheet" href="main.css">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid" style="width: 100%;">
            <div class="navbar-header">
              <img  src="/logo.png" class="navbar-brand logo">
                <p class="navbar-brand title " style="color: #whitesmoke;">{{name}}  </p>
            </div>
               
 
        </div>
    </nav>


</head>

    <link rel="stylesheet" href="tech.css">
 <script type="application/javascript">
        setInterval('$("#demo").load(location.href + " #demo")', 2000);
    </script>
<body>


   
    <div class="body1 container">
      <div class="limiter" >
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100">
              <table id="demo">
                <thead>
                  <tr class="table100-head">
                    <th class="column1">Time of Registration</th>
                    <th class="column2">Category</th>
                    <th class="column3">Line</th>
                    <th class="column4">Line Number</th>
                   
                     
 


                  </tr>
                </thead>
                {{#each dataList}}
                <tbody >


                    <tr>
                      <td class="column1">{{tor}}</td>
                      <td class="column2">  {{category}}</td>
                      <td class="column3">{{Line}}</td>
                      <td class="column4">{{LineNo}}</td>
                       <td > <form method="post" action="/ack">
                       <input type="hidden" value="{{ack}}" name="a" />
        {{ack}}
           <button class="ack-bt btn  btn-primary"  >Acknowledge</button>
    </form></td>
                    
 



                    </tr>

                </tbody>  {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>





</body>

      {{> footer}}

</html>
