<!DOCTYPE html>
<html lang="en">

{{> header}}
    <link rel="stylesheet" href="tech.css">
 <script type="application/javascript">
        setInterval('$("#demo").load(location.href + " #demo")', 2000);
    </script>
<body>


   
    <div class="body1 container">
      <div class="limiter" >
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100">
              <table id="demo">
                <thead>
                  <tr class="table100-head">
                    <th class="column1">Time of Registration</th>
                    <th class="column2">Category</th>
                    <th class="column3">Line</th>
                    <th class="column4">Line Number</th>
                   
                     
 


                  </tr>
                </thead>
                {{#each dataList}}
                <tbody >


                    <tr>
                      <td class="column1">{{tor}}</td>
                      <td class="column2">  {{category}}</td>
                      <td class="column3">{{Line}}</td>
                      <td class="column4">{{LineNo}}</td>
                       <td > <form method="post" action="/ack">
                       <input type="hidden" value="{{ack}}" name="a" />
        {{ack}}
           <button class="ack-bt btn  btn-primary"  >Acknowledge</button>
    </form></td>
                    
 



                    </tr>

                </tbody>  {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>





</body>

      {{> footer}}

</html>
